version: '3.7'
services:
  web:
    build: ./docker/web
    image: pme/php:7.4-apache
    ports:
      - ${APP_PORT:-80}:80
    volumes:
      - ./:/var/www/html:cached
    environment:
      APACHE_DOCUMENT_ROOT: /var/www/html/public
    command: >
      sh -c "
      composer install &&
      apache2-foreground"
    depends_on:
      - db
  db:
    build: ./docker/db
    image: pme/mysql:5.7
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:?}
volumes:
  db-data:
